<%- include layouts/header.ejs %>

  <div class="container">
    <div class="row"></div>
    <div class="col"></div>
    <h1>
      <%= title %>
    </h1>

    
      <div class="per">
      </div>

      <h2 class="equipo"> Bienvenidos a Arthrex, una empresa de dispositivos médicos con la misión de ayudar a los cirujanos a tratar
        mejor a sus pacientes, en el campo de la artroscopia y al desarrollo de productos y procedimientos quirúrgicos
        para avanzar en la ortopedia mínimamente invasiva.

        En esta pagina podra ver los 3 implantes mas utilizados en el mercado para las distintas patologias de hombro,
        que son el arpon Swivelock de 4.75 mm , Pushlock y la sutura fiberwire #2.
      </h2>

      <br>
</div>

  <%- include layouts/footer.ejs %>